/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--body-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--body-bg-color);
  font-family: var(--main-font), sans-sefif;
  font-size: var(--main-text-size);
}

.header {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorative-zone);
  border-right: 1px solid var(--decorative-zone);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--decorative-zone);
  border-left: 1px solid var(--decorative-zone);
}

.lamp {
  color: var(--lamp-color);
  position: absolute;
  top: 10px;
  right: 19px;
}

.lamp::after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--decorative-lamp);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--menu-text-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: var(--menu-text-transform);
  appearance: none;
  padding: 0 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--button-active) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-active); 
}

.header__title {
  min-width: 355px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--h1-color);
  text-shadow: 4px 4px var(--shadow-color);
}

.text-decor {
  font-size: var(--h2-size);
  background-color: var(--header-text-bg-color);
  color: var(--header-text-color);
  font-weight: var(--bold-font-weight);
}

.header__text {
  line-height: 23.4px;
  align-self: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 10px 10px;
  gap: var(--section-gap);
}

.section__title {
  font-size: var(--h3-size);
  color: var(--h3-color);
}

.article-list {
  display: grid;
  gap: var(--article-gap);
}

.card {
  display: grid;
  gap: var(--card-gap);
}

.card__text {
  color: var(--text-color);
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--shadow-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--decorative-link);
}

.card__link:focus { 
  outline: none;
} 
 
.card__link:focus-visible { 
  outline: 1px solid var(--decorative-link); 
}

.card__subtitle {
  font-weight: var(--normal-font-weight);
}

.section_gallery {
  --section-gap: 10px;

  display: grid;
  gap: var(--section-gap);
}

.gallery__image {
  width: 100%;
  overflow: hidden;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px var(--shadow-color);
}


@media (width >= 768px) {
.header {
  height: 100vh;
  min-height: 1024px;
  padding: 20px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
}

.lamp {
  top: 20px;
  right: 29px;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-left: -20px;
}

.header__text {
  width: calc(100% / 2);
  justify-self: end;
}

.section {
  grid-template-columns: 1fr 2fr;
  padding: 60px 20px 20px;
}

.article-list_layout {
  grid-column: 1 / 3;
}

.section_gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(3, min-content);
  gap: 20px;
  padding-bottom: 60px;
}

.gallery__image {
  height: 100%;
  object-fit: cover;
  display: block;
}

.section_gallery_title {
  grid-column: 1/4;
}

.gallery__image_sunset {
  grid-column: 1 / span 2;
}

.gallery__image_ice-cream {
  grid-column: 3;
  grid-row: 2 / span 2;
}

.gallery__image_tape {
  grid-column: 1;
  grid-row: 3 / span 2;
}

.gallery__image_books {
  grid-row: 3;
  grid-column: 2;
}

.gallery__image_street {
  grid-column: 2 / span 2;
  grid-row: 4;
}

.footer {
  height: 100vh;
  min-height: 1024px;
}
}

@media (width >= 1024px) {
.header {
  height: 100vh;
  min-height: 768px;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  flex-direction: row;
  gap: 9px;
}

.article-list_layout {
  grid-row: 2;
  grid-template-columns: repeat(3, 1fr);
}

.card_layout {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.footer {
  height: 100vh;
  min-height: 768px;
}
} 