:root {
  --main-font:'IBM Plex mono';
  --section-title-size: 18px;
  --card-title-size: 18px;
  --main-text-size: 18px;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --menu-text-transform: lowercase;
  --section-gap: 20px;
  --article-gap: 20px;
  --card-gap: 10px;
  --body-bg-image: url(../images/cover-image-dark.png);
  --body-bg-color: #000028;
  --menu-text-color: #FF0070;
  --accent-border-color: #FF0070;
  --main-title-color: #DB00FF;
  --card-title-color: #FF0070;
  --shadow-color: #FF0070;
  --header-text-bg-color: #FF0070;
  --header-text-color: #000028;
  --lamp-color: #FF0070;
  --decorative-lamp: #FF0070;
  --accent-color: #FF0070;
  --decorative-zone: #FF0070;
  --text-color: #F1B2CE;
  --decorative-link: #F1B2CE;
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}